name: 'Commit Message Check'
on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  check-commit-message:
    name: Check Commit Message
    runs-on: ubuntu-latest
    steps:
      - name: Check for a commit prefix 
        uses: gsactions/commit-message-checker@v2
        with:
          pattern: '^[A-Z][A-Za-z0-9 \[]+:.+'
          excludeTitle: true
          excludeDescription: true
          checkAllCommitMessages: true
          error: 'Commit messages should be capitalized, and start with a prefix, delimited by a colon. Example: "Debugger: Add a paste bytes option to the memory view"'
